[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "==3.0.4"
jedi = "*"
django-cors-headers = "*"
djangorestframework = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
server = "python manage.py runserver"
